<h2>Consent to Share Phone Data</h2>
<p>By checking the box below, you consent to share usage data from your mobile device with this research study.</p>

<p>This study will collect the following information:</p>
<ul>
    <li>Screen text</li>
    <li>Supporting data, such as screen status and battery status</li>
</ul>

<p>Your data will be used for academic research purposes only. You can withdraw from this study at any time, which will stop all future data collection.</p>

<p>For more information, please review our <a href="{% url 'privacy_statement' %}">Privacy Policy</a> and <a href="{% url 'terms_of_service' %}">Terms of Service</a>.</p>

<div id="consent-form">
    {{ consent_form }}
</div>
